In [4]:
import pandas as pd
import numpy as np

# location processing
from geotext import GeoText

# word processing
from textblob import TextBlob
import nltk

# misc
from collections import Counter
from datetime import datetime
import ast

# parallel processing
import dask.dataframe as dd
from dask.multiprocessing import get

### Merge data from all months

In [16]:
# merge all month data
data_path = 'tweet_data'
files = os.listdir(data_path)
all_dfs = []
for i,f in enumerate(files):
    path = os.path.join(data_path, f)
    curr_df = pd.read_csv(path, encoding = "ISO-8859-1")
    all_dfs.append(curr_df)
all_dfs
big_df = pd.concat(all_dfs)
big_df.to_csv('other_data/all_tweets.csv')

In [17]:
big_df.shape

(131187, 15)

### Adding location columns

In [60]:
data = pd.read_csv('tweet_data/tweets_2020_08.csv')
data.head()

,tweet_id,location,date,likes,retweets,text
0,1298433064687763457,"Brooklyn, NY",2020-08-26,1458,861,Wearing a mask in public is an important way t...
1,1294720321392541696,"Sonoma, CA",2020-08-15,12739,4537,Canada shares a 5500 mile border with the US. ...
2,1296797780179144704,"Oakland, NJ",2020-08-21,310,58,The Braves and Nats got rained out yesterday. ...
3,1296941201111879692,"Fort Wayne, IN",2020-08-21,2,0,Purdue is kicking out anyone who dont go by so...
4,1289823031599087616,"Los Angeles, CA",2020-08-02,1979,695,The day camp my son went to was limited to 60 ...

In [25]:
state_abbrs = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']
states = ["Alaska", "Alabama", "Arkansas", "American Samoa", 
            "Arizona", "California", "Colorado", "Connecticut", "District of Columbia",
            "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", 
            "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", 
            "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", 
            "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", 
            "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", 
            "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", 
            "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", 
            "Wyoming"]
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
    
# invert the dictionary
abbrev_to_us_state = dict(map(reversed, us_state_to_abbrev.items()))
names_of_us = ['us','usa','united states','united states of america']

In [25]:
# testing geotext
places = GeoText('California, USA')
places.cities

[]

In [44]:
# function to add standardized location columns
def standardize_location(row):
      if row['index'] % 100 == 0:
            print('row ' + str(row['index']))
      # row['lower_location'] = row.location.lower()
      city = GeoText(row.location).cities # check if city in geotexts list of cities
      location_split = row.location.split(', ')
      if len(location_split) > 1:
            if location_split[1].lower() in names_of_us: # lower() for Usa, USA, etc.
                  row['city'] = 'Not City'
                  row['state'] = location_split[0]
                  row['is_state'] = True
            elif location_split[1].upper() in state_abbrs:
                  row['city'] = location_split[0]
                  row['state'] = abbrev_to_us_state.get(location_split[1].upper()) # upper() handles cases like: Ca, or tx
                  row['is_state'] = False
            elif city:
                  row['city'] = city[0]
                  row['state'] = location_split[1]
                  row['is_state'] = False
            else:
                  row['city'] = 'Not City'
                  row['state'] = location_split[0]
                  row['is_state'] = True
      else:
            row['city'] = 'Not City'
            row['state'] = location_split[0]
            row['is_state'] = False
      row['state_abbr'] = us_state_to_abbrev.get(row['state'])
      try:
            row['city_and_state'] = row['city'] + ', ' +  row['state']
      except:
            print(row, row['city'], row['state'], row['state_abbr'])
      return row

In [45]:
df_all = pd.read_csv('other_data/all_tweets.csv')
df_all['index'] = range(1, len(df_all) + 1)
df_all2 = df_all.apply(lambda row: standardize_location(row),axis=1)
df_all2.head()

row 100
row 200
row 300
row 400
row 500
row 600
row 700
row 800
row 900
row 1000
row 1100
row 1200
row 1300
row 1400
row 1500
row 1600
row 1700
row 1800
row 1900
row 2000
row 2100
row 2200
row 2300
row 2400
row 2500
row 2600
row 2700
row 2800
row 2900
row 3000
row 3100
row 3200
row 3300
row 3400
row 3500
row 3600
row 3700
row 3800
row 3900
row 4000
row 4100
row 4200
row 4300
row 4400
row 4500
row 4600
row 4700
row 4800
row 4900
row 5000
row 5100
row 5200
row 5300
row 5400
row 5500
row 5600
row 5700
row 5800
row 5900
row 6000
row 6100
row 6200
row 6300
row 6400
row 6500
row 6600
row 6700
row 6800
row 6900
row 7000
row 7100
row 7200
row 7300
row 7400
row 7500
row 7600
row 7700
row 7800
row 7900
row 8000
row 8100
row 8200
row 8300
row 8400
row 8500
row 8600
row 8700
row 8800
row 8900
row 9000
row 9100
row 9200
row 9300
row 9400
row 9500
row 9600
row 9700
row 9800
row 9900
row 10000
row 10100
row 10200
row 10300
row 10400
row 10500
row 10600
row 10700
row 10800
row 10900
row 11000
row 11100
row 11200
row 11300
row 11400
row 11500
row 11600
row 11700
row 11800
row 11900
row 12000
row 12100
row 12200
row 12300
row 12400
row 12500
row 12600
row 12700
row 12800
row 12900
row 13000
row 13100
row 13200
row 13300
row 13400
row 13500
row 13600
row 13700
row 13800
row 13900
row 14000
row 14100
row 14200
row 14300
row 14400
row 14500
row 14600
row 14700
row 14800
row 14900
row 15000
row 15100
row 15200
row 15300
row 15400
row 15500
row 15600
row 15700
row 15800
row 15900
row 16000
row 16100
row 16200
row 16300
row 16400
row 16500
row 16600
row 16700
row 16800
row 16900
row 17000
row 17100
row 17200
row 17300
row 17400
row 17500
row 17600
row 17700
row 17800
row 17900
row 18000
row 18100
row 18200
row 18300
row 18400
row 18500
row 18600
row 18700
row 18800
row 18900
row 19000
row 19100
row 19200
row 19300
row 19400
row 19500
row 19600
row 19700
row 19800
row 19900
row 20000
row 20100
row 20200
row 20300
row 20400
row 20500
row 20600
row 20700
row 20800
row 20900
row 21000
row 21100
row 21200
row 21300
row 21400
row 21500
row 21600
row 21700
row 21800
row 21900
row 22000
row 22100
row 22200
row 22300
row 22400
row 22500
row 22600
row 22700
row 22800
row 22900
row 23000
row 23100
row 23200
row 23300
row 23400
row 23500
row 23600
row 23700
row 23800
row 23900
row 24000
row 24100
row 24200
row 24300
row 24400
row 24500
row 24600
row 24700
row 24800
row 24900
row 25000
row 25100
row 25200
row 25300
row 25400
row 25500
row 25600
row 25700
row 25800
row 25900
row 26000
row 26100
row 26200
row 26300
row 26400
row 26500
row 26600
row 26700
row 26800
row 26900
row 27000
row 27100
row 27200
row 27300
row 27400
row 27500
row 27600
row 27700
row 27800
row 27900
row 28000
row 28100
row 28200
row 28300
row 28400
row 28500
row 28600
row 28700
row 28800
row 28900
row 29000
row 29100
row 29200
row 29300
row 29400
row 29500
row 29600
row 29700
row 29800
row 29900
row 30000
row 30100
row 30200
row 30300
row 30400
row 30500
row 30600
row 30700
row 30800
row 30900
row 31000
row 31100
row 31200
row 31300
row 31400
row 31500
row 31600
row 31700
row 31800
row 31900
row 32000
row 32100
row 32200
row 32300
row 32400
row 32500
row 32600
row 32700
row 32800
row 32900
row 33000
row 33100
row 33200
row 33300
row 33400
row 33500
row 33600
row 33700
row 33800
row 33900
row 34000
row 34100
row 34200
row 34300
row 34400
row 34500
row 34600
row 34700
row 34800
row 34900
row 35000
row 35100
row 35200
row 35300
row 35400
row 35500
row 35600
row 35700
row 35800
row 35900
row 36000
row 36100
row 36200
row 36300
row 36400
row 36500
row 36600
row 36700
row 36800
row 36900
row 37000
row 37100
row 37200
row 37300
row 37400
row 37500
row 37600
row 37700
row 37800
row 37900
row 38000
row 38100
row 38200
row 38300
row 38400
row 38500
row 38600
row 38700
row 38800
row 38900
row 39000
row 39100
row 39200
row 39300
row 39400
row 39500
row 39600
row 39700
row 39800
row 39900
row 40000
row 40100
row 40200
row 40300
row 40400
row 40500
row 40600
row 40700
row 40800
row 40900
row 41000
row 41100
row 41200
row 41300
row 41400
row 41500
row 41600
row 41700
row 41800
row 41900
row 42000
row 42100
row 42200
row 42300
row 42400
row 42500
row 42600
row 42700
row 42800
row 42900
row 43000
row 43100
row 43200
row 43300
row 43400
row 43500
row 43600
row 43700
row 43800
row 43900
row 44000
row 44100
row 44200
row 44300
row 44400
row 44500
row 44600
row 44700
row 44800
row 44900
row 45000
row 45100
row 45200
row 45300
row 45400
row 45500
row 45600
row 45700
row 45800
row 45900
row 46000
row 46100
row 46200
row 46300
row 46400
row 46500
row 46600
row 46700
row 46800
row 46900
row 47000
row 47100
row 47200
row 47300
row 47400
row 47500
row 47600
row 47700
row 47800
row 47900
row 48000
row 48100
row 48200
row 48300
row 48400
row 48500
row 48600
row 48700
row 48800
row 48900
row 49000
row 49100
row 49200
row 49300
row 49400
row 49500
row 49600
row 49700
row 49800
row 49900
row 50000
row 50100
row 50200
row 50300
row 50400
row 50500
row 50600
row 50700
row 50800
row 50900
row 51000
row 51100
row 51200
row 51300
row 51400
row 51500
row 51600
row 51700
row 51800
row 51900
row 52000
row 52100
row 52200
row 52300
row 52400
row 52500
row 52600
row 52700
row 52800
row 52900
row 53000
row 53100
row 53200
row 53300
row 53400
row 53500
row 53600
row 53700
row 53800
row 53900
row 54000
row 54100
row 54200
row 54300
row 54400
row 54500
row 54600
row 54700
row 54800
row 54900
row 55000
row 55100
row 55200
row 55300
row 55400
row 55500
row 55600
row 55700
row 55800
row 55900
row 56000
row 56100
row 56200
row 56300
row 56400
row 56500
row 56600
row 56700
row 56800
row 56900
row 57000
row 57100
row 57200
row 57300
row 57400
row 57500
row 57600
row 57700
row 57800
row 57900
row 58000
row 58100
row 58200
row 58300
row 58400
row 58500
row 58600
row 58700
row 58800
row 58900
row 59000
row 59100
row 59200
row 59300
row 59400
row 59500
row 59600
row 59700
row 59800
row 59900
row 60000
row 60100
row 60200
row 60300
row 60400
row 60500
row 60600
row 60700
row 60800
row 60900
row 61000
row 61100
row 61200
row 61300
row 61400
row 61500
row 61600
row 61700
row 61800
row 61900
row 62000
row 62100
row 62200
row 62300
row 62400
row 62500
row 62600
row 62700
row 62800
row 62900
row 63000
row 63100
row 63200
row 63300
row 63400
row 63500
row 63600
row 63700
row 63800
row 63900
row 64000
row 64100
row 64200
row 64300
row 64400
row 64500
row 64600
row 64700
row 64800
row 64900
row 65000
row 65100
row 65200
row 65300
row 65400
row 65500
row 65600
row 65700
row 65800
row 65900
row 66000
row 66100
row 66200
row 66300
row 66400
row 66500
row 66600
row 66700
row 66800
row 66900
row 67000
row 67100
row 67200
row 67300
row 67400
row 67500
row 67600
row 67700
row 67800
row 67900
row 68000
row 68100
row 68200
row 68300
row 68400
row 68500
row 68600
row 68700
row 68800
row 68900
row 69000
row 69100
row 69200
row 69300
row 69400
row 69500
row 69600
row 69700
row 69800
row 69900
row 70000
row 70100
row 70200
row 70300
row 70400
row 70500
row 70600
row 70700
row 70800
row 70900
row 71000
row 71100
row 71200
row 71300
row 71400
row 71500
row 71600
row 71700
row 71800
row 71900
row 72000
row 72100
row 72200
row 72300
row 72400
row 72500
row 72600
row 72700
row 72800
row 72900
row 73000
row 73100
row 73200
row 73300
row 73400
row 73500
row 73600
row 73700
row 73800
row 73900
row 74000
row 74100
row 74200
row 74300
row 74400
row 74500
row 74600
row 74700
row 74800
row 74900
row 75000
row 75100
row 75200
row 75300
row 75400
row 75500
row 75600
row 75700
row 75800
row 75900
row 76000
row 76100
row 76200
row 76300
row 76400
row 76500
row 76600
row 76700
row 76800
row 76900
row 77000
row 77100
row 77200
row 77300
row 77400
row 77500
row 77600
row 77700
row 77800
row 77900
row 78000
row 78100
row 78200
row 78300
row 78400
row 78500
row 78600
row 78700
row 78800
row 78900
row 79000
row 79100
row 79200
row 79300
row 79400
row 79500
row 79600
row 79700
row 79800
row 79900
row 80000
row 80100
row 80200
row 80300
row 80400
row 80500
row 80600
row 80700
row 80800
row 80900
row 81000
row 81100
row 81200
row 81300
row 81400
row 81500
row 81600
row 81700
row 81800
row 81900
row 82000
row 82100
row 82200
row 82300
row 82400
row 82500
row 82600
row 82700
row 82800
row 82900
row 83000
row 83100
row 83200
row 83300
row 83400
row 83500
row 83600
row 83700
row 83800
row 83900
row 84000
row 84100
row 84200
row 84300
row 84400
row 84500
row 84600
row 84700
row 84800
row 84900
row 85000
row 85100
row 85200
row 85300
row 85400
row 85500
row 85600
row 85700
row 85800
row 85900
row 86000
row 86100
row 86200
row 86300
row 86400
row 86500
row 86600
row 86700
row 86800
row 86900
row 87000
row 87100
row 87200
row 87300
row 87400
row 87500
row 87600
row 87700
row 87800
row 87900
row 88000
row 88100
row 88200
row 88300
row 88400
row 88500
row 88600
row 88700
row 88800
row 88900
row 89000
row 89100
row 89200
row 89300
row 89400
row 89500
row 89600
row 89700
row 89800
row 89900
row 90000
row 90100
row 90200
row 90300
row 90400
row 90500
row 90600
row 90700
row 90800
row 90900
row 91000
row 91100
row 91200
row 91300
row 91400
row 91500
row 91600
row 91700
row 91800
row 91900
row 92000
row 92100
row 92200
row 92300
row 92400
row 92500
row 92600
row 92700
row 92800
row 92900
row 93000
row 93100
row 93200
row 93300
row 93400
row 93500
row 93600
row 93700
row 93800
row 93900
row 94000
row 94100
row 94200
row 94300
row 94400
row 94500
row 94600
row 94700
row 94800
row 94900
row 95000
row 95100
row 95200
row 95300
row 95400
row 95500
row 95600
row 95700
row 95800
row 95900
row 96000
row 96100
row 96200
row 96300
row 96400
row 96500
row 96600
row 96700
row 96800
row 96900
row 97000
row 97100
row 97200
row 97300
row 97400
row 97500
row 97600
row 97700
row 97800
row 97900
row 98000
row 98100
row 98200
row 98300
row 98400
row 98500
row 98600
row 98700
row 98800
row 98900
row 99000
row 99100
row 99200
row 99300
row 99400
row 99500
row 99600
row 99700
row 99800
row 99900
row 100000
row 100100
row 100200
row 100300
row 100400
row 100500
row 100600
row 100700
row 100800
row 100900
row 101000
row 101100
row 101200
row 101300
row 101400
row 101500
row 101600
row 101700
row 101800
row 101900
row 102000
row 102100
row 102200
row 102300
row 102400
row 102500
row 102600
row 102700
row 102800
row 102900
row 103000
row 103100
row 103200
row 103300
row 103400
row 103500
row 103600
row 103700
row 103800
row 103900
row 104000
row 104100
row 104200
row 104300
row 104400
row 104500
row 104600
row 104700
row 104800
row 104900
row 105000
row 105100
row 105200
row 105300
row 105400
row 105500
row 105600
row 105700
row 105800
row 105900
row 106000
row 106100
row 106200
row 106300
row 106400
row 106500
row 106600
row 106700
row 106800
row 106900
row 107000
row 107100
row 107200
row 107300
row 107400
row 107500
row 107600
row 107700
row 107800
row 107900
row 108000
row 108100
row 108200
row 108300
row 108400
row 108500
row 108600
row 108700
row 108800
row 108900
row 109000
row 109100
row 109200
row 109300
row 109400
row 109500
row 109600
row 109700
row 109800
row 109900
row 110000
row 110100
row 110200
row 110300
row 110400
row 110500
row 110600
row 110700
row 110800
row 110900
row 111000
row 111100
row 111200
row 111300
row 111400
row 111500
row 111600
row 111700
row 111800
row 111900
row 112000
row 112100
row 112200
row 112300
row 112400
row 112500
row 112600
row 112700
row 112800
row 112900
row 113000
row 113100
row 113200
row 113300
row 113400
row 113500
row 113600
row 113700
row 113800
row 113900
row 114000
row 114100
row 114200
row 114300
row 114400
row 114500
row 114600
row 114700
row 114800
row 114900
row 115000
row 115100
row 115200
row 115300
row 115400
row 115500
row 115600
row 115700
row 115800
row 115900
row 116000
row 116100
row 116200
row 116300
row 116400
row 116500
row 116600
row 116700
row 116800
row 116900
row 117000
row 117100
row 117200
row 117300
row 117400
row 117500
row 117600
row 117700
row 117800
row 117900
row 118000
row 118100
row 118200
row 118300
row 118400
row 118500
row 118600
row 118700
row 118800
row 118900
row 119000
row 119100
row 119200
row 119300
row 119400
row 119500
row 119600
row 119700
row 119800
row 119900
row 120000
row 120100
row 120200
row 120300
row 120400
row 120500
row 120600
row 120700
row 120800
row 120900
row 121000
row 121100
row 121200
row 121300
row 121400
row 121500
row 121600
row 121700
row 121800
row 121900
row 122000
row 122100
row 122200
row 122300
row 122400
row 122500
row 122600
row 122700
row 122800
row 122900
row 123000
row 123100
row 123200
row 123300
row 123400
row 123500
row 123600
row 123700
row 123800
row 123900
row 124000
row 124100
row 124200
row 124300
row 124400
row 124500
row 124600
row 124700
row 124800
row 124900
row 125000
row 125100
row 125200
row 125300
row 125400
row 125500
row 125600
row 125700
row 125800
row 125900
row 126000
row 126100
row 126200
row 126300
row 126400
row 126500
row 126600
row 126700
row 126800
row 126900
row 127000
row 127100
row 127200
row 127300
row 127400
row 127500
row 127600
row 127700
row 127800
row 127900
row 128000
row 128100
row 128200
row 128300
row 128400
row 128500
row 128600
row 128700
row 128800
row 128900
row 129000
row 129100
row 129200
row 129300
row 129400
row 129500
row 129600
row 129700
row 129800
row 129900
row 130000
row 130100
row 130200
row 130300
row 130400
row 130500
row 130600
row 130700
row 130800
row 130900
row 131000
row 131100

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California"
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California"
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California"
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona"
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts"

### Join mask data with twitter data

In [46]:
mask_data = pd.read_csv('mask_mandate_no_na_smaller.csv')
mask_data_sm = mask_data.iloc[:,[1,5,7]]
mask_data_sm = mask_data_sm.drop_duplicates()
mask_data_sm.head()

  State_Tribe_Territory       date Face_Masks_Required_in_Public
0                    AL  4/10/2020                            No
1                    AL  4/11/2020                            No
2                    AL  4/12/2020                            No
3                    AL  4/13/2020                            No
4                    AL  4/14/2020                            No

In [32]:
mask_data_sm.loc[mask_data_sm.date == '8/17/2020',:].State_Tribe_Territory.unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AS', 'GU', 'MP', 'PR',
       'VI'], dtype=object)

In [47]:
# df_all = pd.read_csv('tweet_data/model_test_data.csv')
# FOUND ISSUE: tweet data's date column has different formats Y-M-D and M/D/Y
# change all to /
df_all2['date'] = pd.to_datetime(df_all2['date']).dt.strftime('%#m/%#d/%Y')

In [48]:
df_all2.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California"
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California"
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California"
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona"
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts"

In [49]:
# merge with mask mandate data
# mask_data_sm.iloc[:,0].unique() # no NA states
# mask_data_sm.iloc[:,2].unique() # no NA mandates, (all no, yes) 
# print(len(mask_data_sm.index),len(df_all.index)) # 27807 29053
# state_abbrs_freq = Counter(df_all['state_abbr']) # only 1171 none -> problem w join
# state_abbrs_freq
# mask_data_sm.head()
merged = df_all2.merge(mask_data_sm, how='left', 
                        left_on=['date','state_abbr'], 
                        right_on = ['date','State_Tribe_Territory'])
merged.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state,State_Tribe_Territory,Face_Masks_Required_in_Public
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California",NaN,NaN
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California",CA,No
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California",CA,No
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona",AZ,No
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts",NaN,NaN

In [50]:
merged.to_csv('merged_test_data.csv',index=False)

In [8]:
# try text blob
data.text
for text in data.text[:5]:
    test_blob = TextBlob(text)
    print(test_blob.sentiment)

Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.22809523809523807, subjectivity=0.6442857142857142)
Sentiment(polarity=0.26666666666666666, subjectivity=0.662962962962963)
Sentiment(polarity=-0.053787878787878794, subjectivity=0.5936868686868687)

### Add column to indicate whether mask mentioned

In [2]:
all_data = pd.read_csv('merged_data_with_sentiment_and_CA_LA.csv')
all_data.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state,State_Tribe_Territory,Face_Masks_Required_in_Public,Polarity,Subjectivity,CA,LA
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California",NaN,NaN,0.000000,0.000000,Yes,No
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California",CA,No,0.000000,0.000000,Yes,No
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California",CA,No,0.228095,0.644286,Yes,No
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona",AZ,No,0.266667,0.662963,No,No
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts",NaN,NaN,-0.053788,0.593687,No,No

In [53]:
def tokenize_tweet(row):
    tokens = nltk.word_tokenize(row['text'])
    # tokens = nltk.word_tokenize(row)
    i_offset = 0
    for i, token in enumerate(tokens):
        i -= i_offset
        if token == '@' and i < len(tokens)-1: # if last token @, skip
            if i == 0:
                left = []
            else:
                left = tokens[:i-1] # words before @
            joined = [token + tokens[i + 1]] # @ plus handle
            right = tokens[i + 2:]
            tokens = left + joined + right
            i_offset += 1 # offset index by one from joining
    row['tokens'] = tokens
    return row
    # return tokens

In [65]:
# first tokenize text (with parallel processing)
all_ddata = dd.from_pandas(all_data, npartitions=15)
all_ddata = all_ddata.map_partitions(lambda df: df.apply((lambda row: tokenize_tweet(row)), axis=1)).compute(scheduler='threads')
all_ddata.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state,State_Tribe_Territory,Face_Masks_Required_in_Public,Polarity,Subjectivity,CA,LA,tokens
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California",NaN,NaN,0.000000,0.000000,Yes,No,"[A, day, without, Hispanics, ...., this, count..."
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California",CA,No,0.000000,0.000000,Yes,No,"[XO, face, masks, are, back, to, raise, money,..."
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California",CA,No,0.228095,0.644286,Yes,No,"[@ImKingGinger, Well, are, n't, you, special, ..."
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona",AZ,No,0.266667,0.662963,No,No,"[@seanhannity, If, I, was, to, stay, home, and..."
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts",NaN,NaN,-0.053788,0.593687,No,No,"[@tedpanos, Yup, ,, CT, ., Governor, spoke, pr..."

In [117]:
has_mask(all_ddata2.head(1))

ValueError: malformed node or string: ['A', 'day', 'without', 'Hispanics', '....', 'this', 'country', 'could', 'never', '.', 'https', ':', '//t.co/Z5gvH1zku9']

In [127]:
def has_mask(row):
    mask_words = ['mask','masks','masked','cover','covers','covered','n95','mandate','face','nose','mouth']
    try:
        has_mask = any([keyword in [token.lower() for token in row['tokens']] for keyword in mask_words])
    except:
        print(row['tokens'])
        has_mask = False
    row['mentions_mask'] = has_mask
    return row
    # return has_mask

In [128]:
all_ddata2 = dd.from_pandas(all_ddata, npartitions=15)
# all_ddata2.head()
all_data2 = all_ddata2.map_partitions(lambda df: df.apply((lambda row: has_mask(row)), axis=1)).compute(scheduler='threads')

In [133]:
all_data2.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,state_abbr,city_and_state,State_Tribe_Territory,Face_Masks_Required_in_Public,Polarity,Subjectivity,CA,LA,tokens,mentions_mask
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,CA,"Pomona, California",NaN,NaN,0.000000,0.000000,Yes,No,"[A, day, without, Hispanics, ...., this, count...",False
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,CA,"Santa Barbara, California",CA,No,0.000000,0.000000,Yes,No,"[XO, face, masks, are, back, to, raise, money,...",True
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,CA,"Not City, California",CA,No,0.228095,0.644286,Yes,No,"[@ImKingGinger, Well, are, n't, you, special, ...",False
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,AZ,"Not City, Arizona",AZ,No,0.266667,0.662963,No,No,"[@seanhannity, If, I, was, to, stay, home, and...",False
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,MA,"Medford, Massachusetts",NaN,NaN,-0.053788,0.593687,No,No,"[@tedpanos, Yup, ,, CT, ., Governor, spoke, pr...",False

In [132]:
# output to csv
print(all_data2.mentions_mask.sum(), all_data2.mentions_mask.sum()/len(all_data2.index)) # number and % of tweets with mask
all_data2.to_csv('complete_data.csv',index=False)

11954 0.09086970072443387

In [21]:
# add case data
data_folder = 'csse_covid_19_daily_reports_us'
case_data = []
for data_file in os.listdir(data_folder):
    try:
        curr_df = pd.read_csv(os.path.join(data_folder,data_file)).iloc[:,[0,5,6,7,8,9,10,11,13,16]]
    except:
        print(data_file)
    curr_df['date'] = datetime.strptime(data_file.split('.')[0],"%m-%d-%Y")
    # curr_df['date'] = data_file
    case_data.append(curr_df)
    # print(curr_df.shape)
all_case_data = pd.concat(case_data)
all_case_data.shape
# all_case_data.head()

(39168, 13)

In [22]:
all_case_data.to_csv('other_data/us_case_data.csv')

In [30]:
def add_state_abbr(row):
    row['state_abbr'] = us_state_to_abbrev.get(row['Province_State'])
    return row

In [31]:
all_case_data = pd.read_csv('other_data/us_case_data.csv')
all_case_data = all_case_data.apply (lambda row: add_state_abbr(row), axis=1)
all_case_data.head()

,Unnamed: 0,Province_State,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,date,People_Tested,Mortality_Rate,state_abbr
0,0,Alabama,365747,4872,202137.0,158738.0,1.0,7459.375895,3275341.0,1.332068,66800.273700,2021-01-01,NaN,NaN,AL
1,1,Alaska,47019,206,7165.0,39648.0,2.0,6427.355802,1275750.0,0.438121,174391.185778,2021-01-01,NaN,NaN,AK
2,2,American Samoa,0,0,NaN,NaN,60.0,0.000000,2140.0,NaN,3846.084722,2021-01-01,NaN,NaN,AS
3,3,Arizona,530267,9015,76934.0,444318.0,4.0,7285.171274,5155330.0,1.700087,39551.860582,2021-01-01,NaN,NaN,AZ
4,4,Arkansas,229442,3711,199247.0,26484.0,5.0,7602.945718,2051488.0,1.617402,67979.497674,2021-01-01,NaN,NaN,AR

In [58]:
all_case_data = all_case_data.drop(columns = ['FIPS'])
# all_case_data['date'] = pd.to_datetime(all_case_data['date']).dt.strftime('%#m/%#d/%Y')
all_case_data.head()

,Unnamed: 0,Province_State,Confirmed,Deaths,Recovered,Active,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,date,People_Tested,Mortality_Rate,state_abbr
0,0,Alabama,365747,4872,202137.0,158738.0,7459.375895,3275341.0,1.332068,66800.273700,1/1/2021,NaN,NaN,AL
1,1,Alaska,47019,206,7165.0,39648.0,6427.355802,1275750.0,0.438121,174391.185778,1/1/2021,NaN,NaN,AK
2,2,American Samoa,0,0,NaN,NaN,0.000000,2140.0,NaN,3846.084722,1/1/2021,NaN,NaN,AS
3,3,Arizona,530267,9015,76934.0,444318.0,7285.171274,5155330.0,1.700087,39551.860582,1/1/2021,NaN,NaN,AZ
4,4,Arkansas,229442,3711,199247.0,26484.0,7602.945718,2051488.0,1.617402,67979.497674,1/1/2021,NaN,NaN,AR

### Join case data w/ main data

In [53]:
# case data goes 4-12-2020 to 2-15-2022
all_case_data.loc[(all_case_data['state_abbr'] == 'CA') & (all_case_data['date'] == '4/12/2020'),]

,Unnamed: 0,Province_State,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,date,People_Tested,Mortality_Rate,state_abbr
8530,4,California,22200,631,NaN,NaN,6.0,56.13959,NaN,NaN,485.423869,4/12/2020,190328.0,2.844649,CA

In [61]:
all_data = pd.read_csv('complete_data.csv')
all_ddata = dd.from_pandas(all_data, npartitions=15)
# large.merge(small) is "embarassingly parrallel" -> 3 seconds???? huh??
all_ddata2 = all_ddata.merge(all_case_data, how='left', 
    left_on = ['date','state_abbr'], 
    right_on=['date','state_abbr'])

In [62]:
all_data2 = all_ddata2.compute()
all_data2

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,...,Confirmed,Deaths,Recovered,Active,Incident_Rate,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,People_Tested,Mortality_Rate
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,...,35750.0,1289.0,NaN,NaN,90.422652,NaN,NaN,765.392916,300100.0,3.607815
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,...,35750.0,1289.0,NaN,NaN,90.422652,NaN,NaN,765.392916,300100.0,3.607815
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,...,4933.0,184.0,994.0,3755.0,67.772933,NaN,NaN,728.012918,65652.0,3.729982
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9514,1.430000e+18,"West Virginia, USA",8/31/2021,0,0,This is not a good sign https://t.co/xNJnb5uSCQ,131185,Not City,West Virginia,True,...,189690.0,3084.0,NaN,NaN,10584.511204,3428187.0,1.625811,191289.386418,NaN,NaN
9515,1.420000e+18,"Jacksonville, FL",8/8/2021,2,1,Iâm only just now hearing about this. \r\n\r...,131186,Jacksonville,Florida,False,...,2768985.0,39695.0,NaN,NaN,12892.349878,34269498.0,1.433558,159558.234650,NaN,NaN
9516,1.420000e+18,"Hitler, North Dakota",8/2/2021,0,0,@schmotdocker @Dennis_Ramen @ememesi @justinba...,131187,Not City,Hitler,True,...,49.0,0.0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
9517,1.420000e+18,"Hitler, North Dakota",8/2/2021,0,0,@schmotdocker @Dennis_Ramen @ememesi @justinba...,131187,Not City,Hitler,True,...,103.0,3.0,NaN,NaN,NaN,NaN,2.912621,NaN,NaN,NaN
9518,1.420000e+18,"Hitler, North Dakota",8/2/2021,0,0,@schmotdocker @Dennis_Ramen @ememesi @justinba...,131187,Not City,Hitler,True,...,4663.0,39.0,NaN,NaN,4347.055972,144695.0,0.836371,134891.113846,NaN,NaN

In [63]:
all_data2.to_csv('complete_data_cases.csv')