In [2]:
import pandas as pd
import numpy as np

# location processing
# from geotext import GeoText
from geopy import geocoders  
# import geocoder
# import requests

import multiprocessing as mp
from multiprocessing import Pool, Array, Lock
from time import time
from joblib import delayed, Parallel

In [3]:
all_data = pd.read_csv('../complete_data/complete_data_sentiment.csv')
all_data.head(1)

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,...,Total_Test_Results,Case_Fatality_Ratio,Testing_Rate,People_Tested,Mortality_Rate,polarity_neg,polarity_pos,polarity_compound,polarity_classif,polarity_classif2
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0,0

In [15]:
num_unique_loc = len(unique_locs)

In [20]:
# returns coordinates given location
def get_coords2(i,loc,gn):
    if i % 100 == 0:
        print('location',i,':',loc,'percent:',round(i/num_unique_loc*100,2))
    try:
        location = gn.geocode(loc,exactly_one=False)
        coords = location[0][1]
        # print(coords)
    except:
        coords = (None,None)
    return coords

In [21]:
pool = mp.Pool()
# NUM_CPUS=8
gn = geocoders.GeoNames(username='tylerwu')
unique_locs = all_data.location.unique()
index = range(0,len(unique_locs))
# index[:3]
# coord_dict = [pool.apply(get_coords2, args=(i, unique_locs[i], gn)) for i in index[:32]] # mp package
# coord_dict = Parallel(n_jobs=NUM_CPUS)(delayed(get_coords2)(i,unique_locs[i],gn) for i in index[:10]) #joblib package
coord_dict = {unique_locs[i]:get_coords2(i,unique_locs[i], gn) for i in index} # old-fashioned
# # pool.close()
# coord_dict

location 0 : Pomona, CA percent: 0.0
location 100 : Springfield, MO percent: 0.72
location 200 : Santa Cruz, CA percent: 1.44
location 300 : Kissimmee, FL percent: 2.17
location 400 : Olympia, WA percent: 2.89
location 500 : El Cajon, CA percent: 3.61
location 600 : Salinas, California percent: 4.33
location 700 : Richmond, IN percent: 5.05
location 800 : Columbia, South Carolina, USA percent: 5.78
location 900 : Ocoee, FL percent: 6.5
location 1000 : New City, NY percent: 7.22
location 1100 : Monterey, California percent: 7.94
location 1200 : North Logan, UT percent: 8.66
location 1300 : Winchester, VA percent: 9.38
location 1400 : Auburn, Alabama percent: 10.11
location 1500 : Peoria, IL percent: 10.83
location 1600 : Colorado, US percent: 11.55
location 1700 : Joint Base Lewis-McChord, WA percent: 12.27
location 1800 : Clayton, NC percent: 12.99
location 1900 : Cocoa, FL percent: 13.72
location 2000 : Lawrence, MA percent: 14.44
location 2100 : Inwood, NY percent: 15.16
location 2200 : Lima, NY percent: 15.88
location 2300 : Dracut, MA percent: 16.6
location 2400 : St Petersberg, FL percent: 17.33
location 2500 : Lake Charles, LA percent: 18.05
location 2600 : Sunrise Manor, NV percent: 18.77
location 2700 : Spring Lake, MI percent: 19.49
location 2800 : Delafield, WI percent: 20.21
location 2900 : Irondequoit, NY percent: 20.94
location 3000 : Cleaning up dog/kid mess, USA percent: 21.66
location 3100 : Clovis, CA percent: 22.38
location 3200 : seattle, wa percent: 23.1
location 3300 : Green Oak, MI percent: 23.82
location 3400 : Westside Napolis, Indiana percent: 24.55
location 3500 : Clair Mel City, Florida percent: 25.27
location 3600 : Redlands, CA percent: 25.99
location 3700 : Tomball, Texas percent: 26.71
location 3800 : Charlottesvile, Virginia, USA percent: 27.43
location 3900 : Hagerstown, Maryland percent: 28.15
location 4000 : DTX, USA percent: 28.88
location 4100 : Las Vegas, USA percent: 29.6
location 4200 : Prineville, OR percent: 30.32
location 4300 : Raised in Glen Rock, NJ percent: 31.04
location 4400 : Centerville, WA percent: 31.76
location 4500 : Raleigh NC, USA percent: 32.49
location 4600 : Austintown, OH percent: 33.21
location 4700 : Washington, NJ percent: 33.93
location 4800 : UPT, DC percent: 34.65
location 4900 : Bellport, NY percent: 35.37
location 5000 : falls church, va percent: 36.1
location 5100 : Madera, CA percent: 36.82
location 5200 : Island of safety, Texas percent: 37.54
location 5300 : Salt Lake County, UT percent: 38.26
location 5400 : Nawf Lufkin âï¸ Houston, TX percent: 38.98
location 5500 : Prosser, WA percent: 39.71
location 5600 : Frankfurt am Main, DE percent: 40.43
location 5700 : Hallandale Beach, FL percent: 41.15
location 5800 : Pryor Creek, OK percent: 41.87
location 5900 : Harford County, Maryland percent: 42.59
location 6000 : Mount Olive, NJ percent: 43.32
location 6100 : Coral Springs, fl percent: 44.04
location 6200 : Gaston, SC percent: 44.76
location 6300 : Mo City, Texas percent: 45.48
location 6400 : Charlotte Harbor, Florida, US percent: 46.2
location 6500 : Kitsap County, WA percent: 46.92
location 6600 : Carrollton, Ohio percent: 47.65
location 6700 : Orion, MI percent: 48.37
location 6800 : Hoodyear, Arizona percent: 49.09
location 6900 : Windermere, Florida percent: 49.81
location 7000 : Bay Miwok Land, CA percent: 50.53
location 7100 : Sandpoint, ID percent: 51.26
location 7200 : NYC/Edgewater, NJ percent: 51.98
location 7300 : Springboro, OH percent: 52.7
location 7400 : North Las Vegas, Nevada percent: 53.42
location 7500 : Grandville, MI percent: 54.14
location 7600 : Yauco, Puerto Rico percent: 54.87
location 7700 : New York City/Naples, Florida percent: 55.59
location 7800 : Sierra Vista, Arizona percent: 56.31
location 7900 : queens, new york percent: 57.03
location 8000 : Birmingham, Alabama, USA percent: 57.75
location 8100 : Morgantown, IN percent: 58.48
location 8200 : Harstine Island, WA percent: 59.2
location 8300 : Portland, CT percent: 59.92
location 8400 : Cedar Park, Texas percent: 60.64
location 8500 : Hackensack, NJ percent: 61.36
location 8600 : Southington, OH percent: 62.08
location 8700 : Lake Forest, Illinois percent: 62.81
location 8800 : Baton Rouge, LA âï¸ Atlanta, GA percent: 63.53
location 8900 : cincinnati, oh percent: 64.25
location 9000 : Will County, Il percent: 64.97
location 9100 : Boiling Springs, PA percent: 65.69
location 9200 : Northern, CA percent: 66.42
location 9300 : Genoa, IL percent: 67.14
location 9400 : Atlantic Beach, NY percent: 67.86
location 9500 : Moscow, Russia & New York, NY percent: 68.58
location 9600 : Tenneessee , USA percent: 69.3
location 9700 : Middle of nowhere, NC percent: 70.03
location 9800 : Clearlake Park, Ca percent: 70.75
location 9900 : New Philadelphia, OH percent: 71.47
location 10000 : san antonio, tx percent: 72.19
location 10100 : San Francisco, Bay Area, Ca percent: 72.91
location 10200 : Edina, MO percent: 73.64
location 10300 : Mpls, MN percent: 74.36
location 10400 : Galveston, Texas percent: 75.08
location 10500 : SillyCone Valley, CA percent: 75.8
location 10600 : Fairfax, VA / Washington, DC percent: 76.52
location 10700 : Reston, Virginia percent: 77.25
location 10800 : San Diego County, California, USA percent: 77.97
location 10900 : Fort Washington, PA percent: 78.69
location 11000 : Sarasota, FL â Los Angeles, CA percent: 79.41
location 11100 : My own little world, TX percent: 80.13
location 11200 : Dodge City, KS percent: 80.85
location 11300 : Newport, MN percent: 81.58
location 11400 : Lansing, NC percent: 82.3
location 11500 : Imperial, PA percent: 83.02
location 11600 : Eckert, Colorado percent: 83.74
location 11700 : Norfolk, Va percent: 84.46
location 11800 : Grand Rapids, MI, USA percent: 85.19
location 11900 : London, ON/Port Huron, MI percent: 85.91
location 12000 : Sanibel Island, Florida percent: 86.63
location 12100 : Mabelvale, AR percent: 87.35
location 12200 : Ciales, Puerto Rico percent: 88.07
location 12300 : ASV, FL percent: 88.8
location 12400 : Hollywood, Ca percent: 89.52
location 12500 : Poland, OH percent: 90.24
location 12600 : Battle Ground, Washington percent: 90.96
location 12700 : Benton, Illinois percent: 91.68
location 12800 : Arizona City, AZ percent: 92.41
location 12900 : Desert Hills, AZ percent: 93.13
location 13000 : Fargo, ND --Moorhead, MN percent: 93.85
location 13100 : Half Moon Bay, California percent: 94.57
location 13200 : Avenger's Compound, New Jersey percent: 95.29
location 13300 : Anna, OH percent: 96.02
location 13400 : Calcutta, OH percent: 96.74
location 13500 : Katy, TX and Columbus, TX percent: 97.46
location 13600 : Douglas County, Colorado, USA percent: 98.18
location 13700 : Tuition Refund, PA percent: 98.9
location 13800 : Technically Austin, TX percent: 99.62

In [24]:
# sub_data = all_data.head()
coord_dict_lat = {coord:coord_dict[coord][0] for coord in coord_dict}
coord_dict_long = {coord:coord_dict[coord][1] for coord in coord_dict}
# coord_dict_lat
all_data['latitude'] = sub_data['location'].map(coord_dict_lat)
all_data['longitude'] = sub_data['location'].map(coord_dict_long)
all_data.head()

,tweet_id,location,date,likes,retweets,text,index,city,state,is_state,...,Testing_Rate,People_Tested,Mortality_Rate,polarity_neg,polarity_pos,polarity_compound,polarity_classif,polarity_classif2,latitude,longitude
0,1.250000e+18,"Pomona, CA",4/4/2020,89921,34665,A day without Hispanics .... this country coul...,1,Pomona,California,False,...,NaN,NaN,NaN,0.000,0.000,0.0000,0,0,34.05529,-117.75228
1,1.250000e+18,"Santa Barbara, CA",4/21/2020,34308,5245,XO face masks are back to raise money and Iâ...,2,Santa Barbara,California,False,...,765.392916,300100.0,3.607815,0.067,0.080,0.1280,1,1,34.42083,-119.69819
2,1.250000e+18,"California, USA",4/21/2020,0,0,@ImKingGinger Well aren't you special? My rela...,3,Not City,California,True,...,765.392916,300100.0,3.607815,0.258,0.052,-0.8104,-1,-1,34.68743,-116.78467
3,1.250000e+18,"Arizona, USA",4/19/2020,4,0,@seanhannity If I was to stay home and eat ice...,4,Not City,Arizona,True,...,728.012918,65652.0,3.729982,0.162,0.110,-0.4497,-1,-1,34.50030,-111.50098
4,1.250000e+18,"Medford, MA",4/6/2020,0,0,"@MisagaLion @tedpanos Yup, CT. Governor spoke ...",5,Medford,Massachusetts,False,...,NaN,NaN,NaN,0.224,0.108,-0.6988,-1,-1,42.41843,-71.10616

In [26]:
all_data.to_csv('../complete_data/complete_data.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'complete_data/complete_data.csv'